<!doctype html>
<html>
  <body>
    <h4><u>User Database</u></h4>
    <ul>
      <% @users.each do |user| %>
        <li><a href="/users/<%= user %>"><%= user %></a></li>
      <% end %>
    </ul>
  </body>
</html>
      